html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #444444;
}

#navbar {
    background-color: #603939;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    padding: 18px;
}

.nav-menu {
    display: none;
}

h1 {
    padding: 8px;
    margin: 4px auto;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: #222222;
    text-align: center;
    font-size: 8.5rem;
}

h2 {
    padding: 8px;
    font-family: "SUSE", sans-serif;
    font-weight: 500;
    color: #7A7474;
    font-size: 1rem;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.Slides {
    display: none;
}

.img-slide {
    max-width: 100%;
    padding: 16px;
    border-radius: 5%;
    vertical-align: middle;
    filter: drop-shadow(30px 10px 4px #0e0e0e1a);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #222222;
  font-family: "SUSE", sans-serif;
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#button-1 {
    background-color: #562222;
    border: 2px solid #222222;
    border-radius: 16px;
    padding: 32px;
    margin: 24px 24px auto;
    text-align: center;
    color: #FFFFFF;
}

#button-1:hover {
    background-color: #603939;
    cursor: pointer;
}

#footer {
    background-color: #603939;
    padding: 24px;
    margin-top: 48px;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

#footer-links li {
    margin: 8px 0; 
}











/* Base styles (extra small devices - mobile) */
/* CSS rules */

/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    /* CSS rules */
}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
    /* CSS rules */
}

/* Large devices (desktops) */
@media screen and (min-width: 992px) {
    /* CSS rules */
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
    /* CSS rules */
}