html {
}

body {
    margin: 0;
    padding-top: 90px;
    font-family: "Montserrat", sans-serif;
    color: #444444;
}

* {
    text-decoration: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #603939;
    font-family: "Montserrat", sans-serif;
    padding: 18px;
    z-index: 9999;
}

#navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 24px;
    padding: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-right: 64px;
}

#home {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
}

#home-description {
    max-width: 50%;
    text-align: left;
    align-content: center;
}

h1 {
    padding: 8px;
    margin: 4px auto;
    font-family: "Exo 2", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #222222;
}

h2 {
    padding: 8px;
    font-family: "SUSE", sans-serif;
    font-weight: 500;
    color: #7A7474;
}

#button-1 {
    background-color: #562222;
    border: 2px solid #222222;
    border-radius: 16px;
    padding: 24px;
    margin: 16px 16px auto;
    text-align: center;
    color: #FFFFFF;
    filter: drop-shadow(12px 6px 6px #0e0e0e1a);
}

#button-1:hover {
    background-color: #917777;
    cursor: pointer;
}

#slides {
    max-width: 50%;
}

* {
    box-sizing: border-box;
}

.Slides {
    display: none;
}

.img-slide {
    max-width: 100%;
    padding: 16px;
    border-radius: 5%;
    vertical-align: middle;
    filter: drop-shadow(14px 10px 4px #0e0e0e1a);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #3f3f3f;
  font-family: "SUSE", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#footer {
    background-color: #603939;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 16px;
}

.footer-links li {
    display: inline;
    margin: 0 16px;
}  